asgiref
cffi
charset-normalizer
cryptography
defusedxml
Django
django-allauth
django-ckeditor
django-js-asset
django-multiselectfield==0.1.12
idna
oauthlib
Pillow
pycparser
PyJWT
python3-openid
requests
requests-oauthlib
sqlparse
typing_extensions
urllib3
whitenoise
django-allauth
psycopg2-binary
